{
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 80
      }
    }
  ]
}